.parentContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
}

.subContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}